@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Kumbh Sans', sans-serif;
    }

    h1 {
        @apply text-2xl font-bold mb-3 sm:text-3xl md:text-4xl md:mb-4 lg:text-5xl lg:leading-[1.15];
    }

    p {
        @apply text-grayblue leading-relaxed;
    }
}

@layer components {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2em;
    }
}